body {
    background-color: black;
    font-family: 'VT323', monospace;

}

/* Home page */
.banner_image {
    height: 10%;
    width: 10%;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 5px;
}
.banner {
    color: white;
    margin-left: 5px;
    font-size: 20px;
    padding-top: 2em;
}
.typewriter {
    padding-left: 33%;
    display: inline;
}

.li {
    display: inline-block
}

p {
  color:white; 
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  width: 7em;
  animation: type 4s steps(60, end); 
  padding-top: 5%;
  
}

p a{
    color:yellow;
    text-decoration: none;
  }
  
  span{
    animation: blink 1s infinite;
  }
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: black;
  }

  .git_link {
      text-decoration: none;
      color: white;
  }

  .git_link:hover {
    color: yellow;
  }

  .li-link {
    text-decoration: none;
    color: white;
  }

  .li-link:hover {
      color: yellow;
  }

a:visited { 
      text-decoration: none; 
}

a:focus { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}


/* Mouse event*/
.big {
    position: absolute;
    color: white;
    z-index: -1;
    font-size: 20px;
    left: 92%;
}

/* Contact Page */
.contact_page {
    color: white;
}

.go-home-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  .go-home-link:hover {
      color: yellow;
  }

/* Resume Page */
.resume_page {
    color: white;
}

.projects_page {
    color: white;
}

/* Contact Page */

.github_image {
    border-radius: 50%;
    background: white;
    height: 100px;
    width: 100px;
    margin-left: 10%;
}

.linked_image {
    background: white;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    margin-left: 10%;
}

.steam_image {
    background: white;
    border-radius: 70px;
    border: 1px solid white; 
    height: 100px;
    width: 100px;
    margin-left: 10%;
}

.mail_image {
    background: white;
    border-radius: 70px;
    border: 1px solid white; 
    height: 100px;
    width: 100px;
    margin-left: 10%;
}

.contact_images {
    margin-top: 20%;
    margin-left: 9%;
}

.mail_image:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

.github_image:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

.linked_image:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

.steam_image:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  /*Projects Page */
  .project_head {
      font-size: 25px;
  }
/* Media Queries */

@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    [class*="typewriter"] {
        text-decoration: none;
        position: absolute;
        right: 15%;
        padding-left: 40%;
        padding-top: 10%;
    }
    [class*="contact_images"] {
        margin-bottom: 30px;
        margin-top: 30%;
        margin-right: 16%;
    }
    [class*="github_image"] {
        margin-bottom: 20px;
    }
    [class*="linked_image"] {
        margin-bottom: 20px;
    }

    [class*="li-link"] {
        font-size: 35px;
    }
    @keyframes type{
        0%{
            transform: 0%;
        }
    }

    [class*="banner"] {
        margin-left: 10%;
        font-size: 20px;
    }
    [class*="banner_image"] {
        margin-left: 28%;
        height: 100px;
        width: 100px;
    }
    [class*="big"] {
        left: 87%;
    }
}

@media only screen and (max-width: 779px) and (min-width: 450px) {
    /* For mobile phones: */
    [class*="typewriter"] {
        text-decoration: none;
        position: absolute;
        right: 35%;
        padding-left: 41%;
        padding-top: 10%;
    }
    [class*="banner_image"] {
        right: 10%;
        margin-bottom: 20px;
        height: 150px;
        width: 150px;
    }
    [class*="banner"] {
        margin-left: 21%;
        font-size: 20px;
    }
    [class*="li-link"] {
        font-size: 35px;        
    }
    @keyframes type{
        0%{
            transform: 0%;
        }
    }
}
    @media only screen and (min-width: 1430px) {
        /* For big screens: */
        [class*="typewriter"] {
            margin-left: 6%;
            
        }
        
        
        [class*="li-link"] {
            font-size: 40px;  
        }

    }

    